:root{
    --lg-font:'kaisel Tokumin' ,serif;
    --pink:#e5345b;
}
body{
    font-family: var(--sm-font);

}

 .recherche .fa-search{
    position:relative;
    right:  50px;  

}
.nav-link:hover{
    color: #e5345b;

}
/* button */
.bg-primary{
    background-color: var(--pink )!important;
}
/* navbar */
.navbar{
    box-shadow:  3px 9px 3px #e5345b;
    /* rgba(0, 0,0, 0.1) ; */
} 
/* logo */
.shopping{
    height: 80px;
    width: 150px;
    background-color:rgb(243, 237, 237) ;
}
/* connexion */
.connexion{
    list-style: none;
    border-radius: 50px;
    border: 1px solid #e5345b ;
    background-color:#e5345b ;
    color: white;
   
}
.form_bg{
    background: linear-gradient(to bottom ,#e5345b , #f7a4b6);
    height: 100vh;
    display: flex;
    align-items: center;
}
.form_horizontal{
    text-align: center;
}
.form_horizontal .form_icon{
    color: #fff;
    font-size: 100px;
    line-height: 85px;
    margin:0 0 13px ;

}
.form_horizontal .titre{
    color: #fff;
    font-size: 23px;
    font-weight: 700px;
    text-transform: 1px;
    text-transform: uppercase;
    margin: 0 0 35px 0;

}
.form_horizontal .form-group{
    margin:  0 0 10px; 
    position: relative;
    
   


}
.form_horizontal .input-icon{
    position: absolute;
    left: 15px; 
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: #777;
    
}
.form_horizontal .form-control{
    color: #555;
    background-color: #fff;
    font-size:13px ;
    letter-spacing: 1px;
    height: 37px;
    padding: 2px 15px 2px 35px;
    border-radius: 50px;
}
.form_horizontal .form-control::placeholder{
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
  text-transform: capitalize;
}
.form_horizontal .signin{
    color: #fff;
    background-color: #222;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 20px;
    width: 100%;
    margin: 0 0 15px 0;
    border-radius:20px;
    text-transform: uppercase;
    text-decoration: none; 
}
.form_horizontal .form-options li {
    list-style: none;

}
.form_horizontal .form-options  a{
    
    color: #fff;
    letter-spacing: 0.5;
    margin: 0 0 10px;
    display: block;
   text-decoration: none;

}
.form_horizontal .form-options  li a i{
    font-size: 10px;


}
/* end connexion */

#Accueil{
    background: url('./images/ecommerce.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
   
}

.shop{
    background-color: #fff;
    width: 200px;
    border-radius: 25px;
    border: 1px solid rgb(85 ,85 ,85)
}
.shop:hover{
    background-color: var(--pink) ;
    color: #fff;
   border-color: var(--pink);
}
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);


}
/* TESTIMONIALS */
.test{
    background-color: #f6f6f7;
    height: 500px;
}
.vert{
    color:#009970;
}
.temo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}



/* collection */
.all{
 border: 1px solid black;
 border-radius: 25px;
}
.active-filtrer-btn{
    background-color:var(--pink) ;
    color: #fff !important;
    border-color: var(--pink) !important;
}
.all:hover{
    background-color: var(--pink) ;
    color: #fff;
   border-color: var(--pink);
}
.collection-img span{
    top: 20px;
    right: 20px;
    background-color: var(--pink);
    border-radius: 50%;
    color: white;

}
.under{
    height: 340px;
}
.fa-star{
    color: var(--pink)!important;

}
/* special */
.add{
    
 color: black;
 border: 1px solid black;
 border-radius: 25px;

} 
.add:hover{
    background-color: var(--pink) ;
    color: #fff;
   border-color: var(--pink);
}
.special-img span{
    top: 20px;
    right: 20px;
}
.text-primary{
    color: var(--pink) !important;

}
.special-list .btn{
    padding:8px 20px!important ;
}
.special-img img{
    transition: all 0.3s ease;
    transition-timing-function: ease;
}
.special-img:hover img{
    transform: scale(1.2);

}
/* ***********offers************** */
 #offers{
    background: url('./images/offer_img.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;


}
.offers-content .buy:hover{
    border-color: transparent!important;
    background-color: var(--pink) ;
    color: #fff;
   border-color: var(--pink);
} 
.buy{
    background-color: white ;
    color: black;
   border-color:black;
   border-radius: 25px;

}
.contact{
    height: 500px;
    width: 800px;
}
.footer{
    background-color: rgb(243, 237, 237);
    height: 500px;
}
.paie{
    width: 40px;
    height: 40px;
}
.bodure{
    /* border: 1px solid black; */
    box-shadow:  3px 9px 3px 9px rgba(0, 0,0, 0.1) ; 
    height: 500px;
}
 input{
    background-color: none;
    border: 1px solid black;
}
textarea{
    border: 1px solid gray;
    border-radius: 25px;
}
.submit{
    background-color: #e5345b;
    color: white;
    border-radius: 25px;
    width: 500px;
}
.submit:hover{
    background-color: #e5345b;
    color: white;
    border-radius: 25px;
    
}
.fa-brands{
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
}
hr{
    width: 100%;
    border: 1px solid gray;
}
/* modal */
.fa-plus{
    position: relative;
    bottom: 180px;
    justify-content: center;
    align-items: center;
}
.modal-body{
    float: left;
}
.modal-dialog{
    width: 70%;
}
.trait{
    border: 1px solid gray;
    width: 680px;

}
.taille{
    border: 1px solid black ;
    padding: 10px;
}
.panier{
    width: 500px;
    background-color: #e5345b;
    color: white;

}
.fermer{
    border-color: #e5345b;
    border-radius: 50px;
}
.fermer:hover{
    background-color: #e5345b;
    color: white;
}
.plus{
    text-decoration: none;
    color: black;
}
.plus:hover{
    color: white;
}
/* media queries */
@media(min-width:992px){
    .nav-item{
        border-bottom: none;
    }
    
}
@media(max-width:768px){

    .footer{
       
        height: 700px;
    }
}
